* {
  margin: 0;
}

body {
  background: rgb(44, 44, 44);
}

#title {
  text-align: center;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 40%,
    rgb(65, 65, 65) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 130px 0 80px 0;
  font-size: 50px;
}

#userinfo {
  justify-items: center;
}

form {
  border: 4px solid rgb(255, 255, 255);
  width: fit-content;
  padding: 20px 30px 20px 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: radial-gradient(rgb(128, 128, 128) 10%, white 70%);
}

.form_content {
  border-radius: 7px;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px;
}

canvas {
  height: 65px;
  width: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#userskin {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

label {
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
  padding-top: 28px;
}

input[type="radio"].iskin {
  display: none;
}

input[type="radio"].iskin:checked + label {
  border: 1px solid rgb(255, 0, 0);
}
